In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN','ORGANIZATION', 'STATUS', 'SPECIAL_CONSIDERATIONS','ASK_AMT'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,INCOME_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,0,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,1-9999,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,0,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,10000-24999,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,100000-499999,1
...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,0,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,0,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,0,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,0,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,1M-5M,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
INCOME_AMT              9
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
app_type[8:]

T9     156
T13     66
T12     27
T2      16
T25      3
T14      3
T29      2
T15      2
T17      1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[8:].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
classifications_cleaned = classifications[classifications > 1]
classifications_cleaned

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classifications[classifications < 700].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
app_num = pd.get_dummies(application_df)

In [11]:
# Split our preprocessed data into our features and target arrays
X = app_num.drop(columns=['IS_SUCCESSFUL'])
y = app_num['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 14
hidden_nodes_layer3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 7)                 137235

 dense_8 (Dense)             (None, 14)                112

 dense_9 (Dense)             (None, 21)                315

 dense_10 (Dense)            (None, 1)                 22

=================================================================
Total params: 137684 (537.83 KB)
Trainable params: 137684 (537.83 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4948 - accuracy: 0.7597
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.3074 - accuracy: 0.8581
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.1518 - accuracy: 0.9409
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.1087 - accuracy: 0.9567
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.1005 - accuracy: 0.9598
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0972 - accuracy: 0.9602
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0964 - accuracy: 0.9608
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0964 - accuracy: 0.9607
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0957 - accuracy: 0.9603
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0948 - accuracy: 0.9611
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0939 - accuracy: 0.9609
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0937 - accuracy: 0.9608
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0924 - accuracy: 0.9611
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0930 - accuracy: 0.9614
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0924 - accuracy: 0.9615
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0923 - accuracy: 0.9619
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0914 - accuracy: 0.9618
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0916 - accuracy: 0.9625
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0913 - accuracy: 0.9631
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0907 - accuracy: 0.9632
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0910 - accuracy: 0.9629
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0993 - accuracy: 0.9611
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0904 - accuracy: 0.9627
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.0917 - accuracy: 0.9620
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0936 - accuracy: 0.9617
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0881 - accuracy: 0.9638
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0869 - accuracy: 0.9638
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0866 - accuracy: 0.9645
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0863 - accuracy: 0.9647
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0862 - accuracy: 0.9643
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0860 - accuracy: 0.9645
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0856 - accuracy: 0.9649
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0856 - accuracy: 0.9651
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0853 - accuracy: 0.9649
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0849 - accuracy: 0.9651
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0851 - accuracy: 0.9654
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0852 - accuracy: 0.9654
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0852 - accuracy: 0.9649
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0850 - accuracy: 0.9652
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0848 - accuracy: 0.9649
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0849 - accuracy: 0.9649
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0843 - accuracy: 0.9653
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0845 - accuracy: 0.9650
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0844 - accuracy: 0.9655
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0845 - accuracy: 0.9652
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0843 - accuracy: 0.9658
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0840 - accuracy: 0.9658
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0841 - accuracy: 0.9658
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9658
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0839 - accuracy: 0.9658
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0838 - accuracy: 0.9658
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0834 - accuracy: 0.9662
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0837 - accuracy: 0.9661
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0838 - accuracy: 0.9658
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0833 - accuracy: 0.9661
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0838 - accuracy: 0.9659
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0834 - accuracy: 0.9666
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0829 - accuracy: 0.9663
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0832 - accuracy: 0.9664
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0834 - accuracy: 0.9661
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0831 - accuracy: 0.9664
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0832 - accuracy: 0.9663
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0834 - accuracy: 0.9663
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0830 - accuracy: 0.9657
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0831 - accuracy: 0.9660
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0832 - accuracy: 0.9660
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0824 - accuracy: 0.9661
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0832 - accuracy: 0.9659
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0830 - accuracy: 0.9663
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0831 - accuracy: 0.9661
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0826 - accuracy: 0.9665
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0828 - accuracy: 0.9665
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0828 - accuracy: 0.9665
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0826 - accuracy: 0.9665
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0827 - accuracy: 0.9665
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0831 - accuracy: 0.9663
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0823 - accuracy: 0.9665
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0823 - accuracy: 0.9666
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0827 - accuracy: 0.9665
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0822 - accuracy: 0.9666
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0823 - accuracy: 0.9668
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9667
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0826 - accuracy: 0.9667
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0826 - accuracy: 0.9663
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0819 - accuracy: 0.9668
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9667
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0819 - accuracy: 0.9669
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0826 - accuracy: 0.9665
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0823 - accuracy: 0.9666
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0820 - accuracy: 0.9669
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9666
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0824 - accuracy: 0.9665
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0823 - accuracy: 0.9667
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9665
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0817 - accuracy: 0.9671
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0820 - accuracy: 0.9668
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0820 - accuracy: 0.9666
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0821 - accuracy: 0.9668
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.0821 - accuracy: 0.9668
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.0815 - accuracy: 0.9670

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5846 - accuracy: 0.7424 - 236ms/epoch - 880us/step
Loss: 0.5845986604690552, Accuracy: 0.7423906922340393

In [22]:
# Export our model to HDF5 file
filename = '/Users/amaramh/Desktop/Analysis Projects/Charity_Data_Neural_Network/Alphabet_Soup/AlphabetSoupCharity_Optimization.h5'
nn.save(filename, save_format='h5')

/Users/amaramh/anaconda3/envs/EdX/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(